* {
    box-sizing: border-box;
}

body {
    background-color: #888888;
    padding: 0;
    margin: 0;
}

#mainContent {
    margin: 0 auto;
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
    display: block;
}

input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

.hashtag-input-container {
    display: inline-block;
    margin: 0 auto;
}

.centered-text {
    text-align: center;
}

.big-vs-text{
    text-transform: uppercase;
    font-size: 35px;    
}

.get-tweets-button {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #00bfff;
    color: #fff;
    border: none;
    width: 30%;
    min-width: 225px;
    font-size: 25px;
}

.get-tweets-button:hover {
    background-color: #fff;
    color: #00bfff;
}

.tweet-container {
    list-style: none;
    border: 2px solid #fff;
    margin: 10px 0;
    padding: 10px;
}

h3, p {
    margin: 0;
}

.tweet-sentiment-image {
    width: 90px;
    height: 90px;
}